
    {% extends 'owner/base.html' %}
    {% load humanize %}
    {% load static %}
    {% block content %}
    
    
    
    <div class="main">
        <div class="banner-container">
            <img src="{% static 'banking/img/ban.jpg' %}" alt="image" />
            <div class="banner-text">
                <h1>Bank Filters</h1>
            </div>
        </div>
        <div class="stat-container">
    
    
            <a href="{% url 'filter_bank_by_branch_bank_deposit' %}" class="stat">
                <h2>Branch Bank Deposit</h2>
                <h3></h3>
    
    
                <!-- <p>Click to view total</p> -->
            </a>
            <a href="{% url 'filter_bank_by_branch_payment' %}" class="stat">
                <h2>Branch Payment</h2>
                <h3></h3>
    
    
                <!-- <p>Click to view total</p> -->
            </a>
    
            <!-- <a href="" class="stat">
                <h2>Bank Withdrawal</h2>
                <h3></h3>
    
            </a> -->
    
            <a href="{% url 'filter_bank_by_mobilization_bank_deposit' %}" class="stat">
                <h2>Mobilization Bank Deposit</h2>
                <h3></h3>
    
                
            </a>
    
            
    
            <a href="{% url 'filter_bank_by_ecash' %}" class="stat">
                <h2>Cash / E-Cash</h2>
                <h3></h3>
    
               
            </a>
            <a href="{% url 'filter_bank_by_mobilization_payment' %}" class="stat">
                <h2>Mobilization Payments</h2>
                <h3></h3>
    
              
            </a>
    
    
    
        </div>
    </div>
    
    
    </div>
    
    
    
    
    
    {% endblock %}