{% extends 'mobilization/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}



<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/ban.jpg' %}" alt="image" />
        <div class="banner-text">
            <h1>Transaction Summary</h1>
        </div>
    </div>
    <div class="stat-container-ten-box">


        {% for entry in dates %}

        <a href="{% url 'mobilization_deposit_summary' entry.date_deposited %}" class="stat">
            <h2>{{entry.date_deposited}}</h2>



            <!-- <p>Click to view total</p> -->
        </a>
        {% endfor %}





    </div>
</div>


</div>





{% endblock %}