<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Fnet - {{ title }}</title>
  {% else %}
  <title>Fnet</title>
  {% endif %}
</head>
<body>
  <div class="main">
  
  
  
    <div class="e-Page">
      <div class="e-p">
  
        <i class="fas fa-exclamation-triangle icon"></i>
        <h4>404 - Page Not Found</h4>
        <p>Sorry, the page you are looking for might have been removed or is temporarily unavailable.</p>
  
      </div>
    </div>
  
  
  </div>
</body>
</html>
