{% extends 'banking/base.html' %}
{% load static %}
{% block content %}


<section class="home-section">
  
    
    <div class="home-content">
      <div class="overview-boxes">

        <div class="box">
            <div class="right-side">
              <p class="box-topic">Total Money Deposited</p>
              <p class="number">40,876</p>
              <p class="indicator">
                <!-- Indicator content goes here if any -->
              </p>
            </div>
            <i class='bx bx-cart-alt cart'></i>
          </div>
          
          <div class="box">
            <div class="right-side">
              <p class="box-topic">Total Money Sent</p>
              <p class="number">38,876</p>
            </div>
            <i class='bx bxs-cart-add cart two'></i>
          </div>
          
          <div class="box">
            <div class="right-side">
              <p class="box-topic">Total Money Left</p>
              <p class="number">$12,876</p>
            </div>
            <i class='bx bx-cart cart three'></i>
          </div>
          
          <div class="box">
            <div class="right-side">
              <p class="box-topic">Total Return</p>
              <p class="number">11,086</p>
              <p class="indicator">
                <i class='bx bx-down-arrow-alt down'></i>
                <span class="text">Down From Today</span>
              </p>
            </div>
            <i class='bx bxs-cart-download cart four'></i>
          </div>
          
      </div>
     
    </div>
  </section>








{% endblock %}