{% extends 'owner/base.html' %} {% load static %} {% block content %}






<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>    Benjamin bank withdrawal Summary </h1>
        </div>

    </div>


    <div class="stat-container-ten-box">
    
    
        {% for entry in dates %}
    
        <a href="{% url 'bank_with_detail' entry.agent entry.date_withdrawn %}" class="stat">
            <h2>{{entry.date_withdrawn}}</h2>
    
    
    
            <!-- <p>Click to view total</p> -->
        </a>
        {% endfor %}
    
    
    
    
    
    </div>



    



 
</div>














{% endblock %}