{% extends 'owner/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}



<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/ban.jpg' %}" alt="image" />
        <div class="banner-text">
            <h1>Balance</h1>
        </div>
    </div>
    <div class="stat-container">

        <!-- 
        <a class="stat">
            <h2>Total Requests</h2>
            <h3>GH¢ {{account.total_deposits}}</h3>
        
           
        </a>
        <a class="stat">
            <h2>Total Payments</h2>
            <h3>GH¢ {{account.total_payments}}</h3>
        
           
        </a>
        <a class="stat">
            <h2>Balance Left</h2>
            <h3>GH¢ {{account.balance_left}}</h3>
        
            
        </a> -->

        <a class="stat">
            <h2>Total Requests</h2>
            <h3>GH¢ {{total_requests|floatformat:2|intcomma}}</h3>


        </a>

        <a class="stat">
            <h2>Total Payments</h2>
            <h3>GH¢ {{total_payments|floatformat:2|intcomma}}</h3>



        </a>

        <a class="stat">
            <h2>Balance Left</h2>
            <h3>GH¢ {{balance_left|floatformat:2|intcomma}}</h3>


        </a>



    </div>
</div>


</div>





{% endblock %}