{% extends 'owner/base.html' %} {% load static %} {% block content %}






<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>   Cash In Summary Date</h1>
        </div>

    </div>


    <div class="stat-container-ten-box">
    
    
        {% for entry in dates %}
    
        <a href="{% url 'cash_in_detail' entry.agent entry.date_deposited %}" class="stat">
            <h2>{{entry.date_deposited}}</h2>
    
    
    
            <!-- <p>Click to view total</p> -->
        </a>
        {% endfor %}
    
    
    
    
    
    </div>
   



    



 
</div>














{% endblock %}