{% extends 'owner/base.html' %} {% load static %} {% block content %}






<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1> Cash Out Summary </h1>
        </div>

    </div>


    <div class="stat-container-ten-box">


        {% for entry in dates %}

        <a href="{% url 'branch_ecash_transactions' entry.agent entry.created_at %}" class="stat">
            <h2>{{entry.created_at}}</h2>



            <!-- <p>Click to view total</p> -->
        </a>
        {% endfor %}





    </div>








</div>














{% endblock %}