{% extends 'users/admin_dashboard/base.html' %}
{% load static %}
{% block content %}


<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>Register Owner</h1>
        </div>
    </div>



    <div class="customer-form">


        <div class="customerlogin">
            <form method="POST">
                {% csrf_token %}
                <!-- <div class="input">
                    <label for="customerPhone">Customer Phone Number</label> <br />
                    <input type="text" name="phone_number" id="customerPhone" required placeholder="Phone Number" />
                </div> -->
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>

        </div>

    </div>
</div>















</div>





{% endblock %}