{% extends 'agent/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}



<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/ban.jpg' %}" alt="image" />
        <div class="banner-text">
            <h1>Total Transaction Summary</h1>
        </div>
    </div>
    <div class="stat-container">


        <a href="{% url 'cashin_summary' %}" class="stat">
            <h2>Total Cash In</h2>
            <h3>GH¢ {{total_cashins|floatformat:2|intcomma}}</h3>
      
      
            <!-- <p>Click to view total</p> -->
        </a>
        
        <a href="{% url 'cashout_summary' %}" class="stat">
            <h2>Total Cash Out</h2>
         <h3>GH¢ {{total_cashouts|floatformat:2|intcomma}}</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        
        <a href="{% url 'bank_deposit_summary' %}" class="stat">
            <h2>Total Bank Deposit</h2>
         <h3>GH¢ {{total_deposits|floatformat:2|intcomma}}</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        
        <a href="{% url 'bank_withdrawal_summary' %}" class="stat">
            <h2>Total Bank Withdrawal</h2>
         <h3>GH¢ {{total_withdrawals|floatformat:2|intcomma}}</h3>
      
            <!-- <p>Click to view total</p> -->
            
        </a>
        
        <a href="{% url 'cash_summary' %}" class="stat">
            <h2>Total Cash / E-Cash</h2>
         <h3>GH¢ {{total_ecash|floatformat:2|intcomma}}</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        <a href="{% url 'payment_summary' %}" class="stat">
            <h2>Total Payments</h2>
         <h3>GH¢ {{total_payments|floatformat:2|intcomma}}</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        


    </div>
</div>


</div>





{% endblock %}