{% extends 'owner/base.html' %} {% load static %} {% block content %}






<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>Agent</h1>
        </div>
    </div>


    <div class="myagent-grid">
        <div class="agent">
            <p><strong>Name:</strong> <span>Lois</span></p>
            <p><strong>Username:</strong> <span>lois_99</span></p>
            <p><strong>Phone:</strong> <span>+123 456 7890</span></p>
            <p><strong>Email:</strong> <span>lois@example.com</span></p>
            <a href="#">Tap for more</a>
        </div>
    </div>



 
</div>














{% endblock %}