{% extends 'owner/base.html' %} {% load static %} {% block content %}






<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>Agent</h1>
        </div>
    </div>


    <div class="myagent-grid">
        {% for agent in my_agents %}
        <div class="agent">
            <i class="fa-solid fa-user"></i>
            <p><strong>Name:</strong> <span>{{ agent.full_name }}</span></p>
            <p><strong>Username:</strong> <span>{{ agent.user.username }}</span></p>
            <p><strong>Phone:</strong> <span>{{ agent.phone_number }}</span></p>
            <p><strong>Email:</strong> <span>{{ agent.email }}</span></p>
            <a href="{% url 'agentDetail' agent.id %}">Tap for more</a>
        </div>
        {% endfor %}
        
    </div>



 
</div>














{% endblock %}