{% extends 'owner/base.html' %} {% load static %} {% block content %}






<div class="main">
    <div class="banner-container">``````````````````````````````
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>    Request to hold </h1>
        </div>
    </div>

    <div class="customer-care">
        <form action="">
            <div class="input">
                <label for="amount">Amount</label> <br>
                <input type="text" id="amount" placeholder="Enter amount">
            </div>
            <div class="input">
                <label for="customer-phone">Customer Phone / Account Num</label> <br>
                <input type="text" id="customer-phone" placeholder="Enter phone or account number">
            </div>
            <div class="input">
                <label for="agent-id">Agent Number / ID</label> <br>
                <input type="text" id="agent-id" placeholder="Enter agent number or ID">
            </div>
            <div class="input">
                <label for="transaction-id">Transaction ID</label> <br>
                <input type="text" id="transaction-id" placeholder="Enter transaction ID">
            </div>
            <div class="input">
                <label for="complain-details">Reasons</label> <br>
                <textarea id="complain-details" placeholder="Write your complaint here"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    
    

   



    



 
</div>














{% endblock %}