{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'banking/mainStyle.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
</head>

<body>



    <style>
        .login-container {
            background-image: url("{% static 'banking/img/login.jpeg' %}");
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            width: 100%;

        }

        h3 {
            font-family: "Sigmar", serif;
            font-weight: 700;
            font-style: normal;
            font-size: 30px;
        }
    </style>
    
    <div class="login-container">


        <div class="login-form">
            
            <h3>Please provide your details to create an account</h3>
            <br><br>
            <div class="login">
                
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <!-- <div class="input">
                        <label for="fullname">Full Name</label> <br>
                        <input type="text" id="fullname" required placeholder="Enter your full name">
                    </div>
                    <div class="input">
                        <label for="email">Your Email</label> <br>
                        <input type="email" id="email" required placeholder="example@gmail.com">
                    </div>
                    <div class="input">
                        <label for="password">Password</label> <br>
                        <input type="password" id="password" required placeholder="Enter password">
                    </div>
                    <div class="input">
                        <label for="confirm_password">Confirm Password</label> <br>
                        <input type="password" id="confirm_password" required placeholder="Confirm password">
                    </div> -->
                    <button type="submit">Register</button>
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                    <p>If there are any difficulties, <a href="{% url 'customerSupport' %}">contact support</a></p>
                </form>
            </div>

        </div>
    </div>














</body>

</html>