{% extends 'agent/base.html' %} {% load static %} {% block content %}

<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/banner.png' %}" alt="image" />
        <div class="banner-text">
            <h1>Drawer</h1>
        </div>
    </div>
    <div class="form">

        <form id="networkForm" class="f" method="POST">
            {% csrf_token %}
            


                {{form.as_p}}
 
  
            <button type="submit" id="submitBtn">Save Opening Balance</button>
            <a class="btn41-43 btn-41" href="{% url 'close-drawer' %}">Close Drawer</a>
        </form>
    </div>

</div>


{% endblock %}