{% extends 'agent/base.html' %}
{% load static %}
{% block content %}



<div class="main">
    <div class="banner-container">
        <img src="{% static 'banking/img/ban.jpg' %}" alt="image" />
        <div class="banner-text">
            <h1>Total Payment Summary</h1>
        </div>
    </div>
    <div class="stat-container">

        <a href="" class="stat">
            <h2>Total MTN Payment</h2>
            <h3>400 Gh</h3>
        </a>
        
        <a href="" class="stat">
            <h2>Total Telecel Payment</h2>
            <h3>400 Gh</h3>
        </a>
        
        <a href="" class="stat">
            <h2>Total Cash to Branches</h2>
            <h3>400 Gh</h3>
        </a>
        
        <a href="" class="stat">
            <h2>Total Cash Locked</h2>
            <h3>400 Gh</h3>
        </a>
        
        


    </div>
</div>


</div>





{% endblock %}