{% extends 'agent/base.html' %}
{% load static %}
{% block content %}



<div class="main">

    <div class="stat-container">


        <a href="" class="stat">
            <h2>Total Agency Request</h2>
            <h3>400 Gh</h3>
      
      
            <!-- <p>Click to view total</p> -->
        </a>
        
        <a href="" class="stat">
            <h2>Total Withdrawal</h2>
         <h3>400 Gh</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        
        <a href="" class="stat">
            <h2>Total Cash Received</h2>
         <h3>400 Gh</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        
        <a href="" class="stat">
            <h2>Total MTN Received</h2>
         <h3>400 Gh</h3>
      
            <!-- <p>Click to view total</p> -->
            
        </a>
        
        <a href="" class="stat">
            <h2>Total Telecel Received</h2>
         <h3>400 Gh</h3>
      
            <!-- <p>Click to view total</p> -->
        </a>
        


    </div>
</div>


</div>





{% endblock %}